html > body {
  background-color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-top-cards {
  margin: 25px 0;
}

canvas {
  margin-bottom: 25px;
}

#root span.skeleton {
  margin: 10px auto;
  background-color: #555;
  background-image: linear-gradient(90deg, #565656, #595959, #565656);
}

@media (max-width: 769px) {
  .page-top-cards {
    margin: 15px 0 25px;
  }

  .page-top-cards .card {
    margin-bottom: 15px;
  }
}
